@import "variables.css";

.post-card-author-roy {
    font-size: 1.3rem;
}


@media (min-width: 900px) {
    .home-template .post-feed,
    .tag-template .post-feed,
    .author-template .post-feed {
        margin-top: 47px;
        padding-top: 0;
    }
    .home-template .site-nav {
        position: relative;
        top: inherit;
    }
}

.site-header {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    background: color(var(--darkblue) l(-5%)) no-repeat center center;
    background-size: cover;
}

.site-header:before {
    z-index: -1;
}

.site-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0vw 4vw;
    min-height: inherit;
    max-height: 450px;
    text-align: center;
}

.site-nav {
    position: relative;
    z-index: 300;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: hidden;
    height: 50px;
    font-size: 1.2rem;
}

@media (max-width: 700px) {
    .site-header-content {
        padding-right: 4vw;
    }
}

.post-feed {
    margin: 0 20px;
}

.post-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 20px 0px;
    border-radius: 5px;
    transition: all 0.5s ease;

    flex: inherit;
    min-height: inherit;
    background: inherit;
    background-size: inherit;
    box-shadow: inherit;
}

.text-color-roy {
    color: #15171a;
}

.post-card:hover {
    box-shadow: 0 0 1px rgba(39,44,49,0.10), 0 3px 16px rgba(39, 44, 49,0.07);
    transition: all 0.3s ease;
    transform: translate3D(0, -1px, 0);
}

.post-card-content-link {
    position: relative;
    display: block;
    padding: 25px 25px 0;
    color: var(--darkblue);

    flex-grow: inherit;
}

.post-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: inherit;
}

.post-card-meta {
    padding: 0 25px 25px;
    
    display: inherit;
    justify-content: space-between;
    align-items: inherit;
}

.post-full-title {
    margin: 0;
    color: color(var(--darkblue) l(-5%));
}

.kg-card-markdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 920px;
}

.post-template .kg-card-markdown > p:first-child {
    /* font-size: 1.25em; */
    line-height: 1.5em;
}

.post-full-content strong,
.post-full-content em {
    color: color(var(--darkblue) l(-5%));
}

.post-full-content img,
.post-full-content video {
    display: block;
    margin: 1.5em auto;
    max-width: 1040px;
    height: inherit;
}

.post-full-content img + br + small {
    display: block;
    margin-top: -3em;
    margin-bottom: 1.5em;
    text-align: inherit;
}

.post-full-content pre {
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    max-width: 100%;
    border: color(var(--darkblue) l(-10%)) 1px solid;
    color: var(--whitegrey);
    font-size: 1.4rem;
    line-height: 1.5em;
    background: color(var(--darkblue) l(-3%));
    border-radius: 5px;
}

.post-full-content h1,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6 {
    color: color(var(--darkblue) l(-5%));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.post-full-content h4 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2.3rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .post-full-content h4 {
        font-size: 2.0rem;
    }
}

.post-full-content table th {
    color: var(--darkblue);
}

.subscribe-form-title {
    color: var(--darkblue);
}

.author-card-name a {
    color: var(--darkblue);
}

.read-next-card {
    background: var(--darkblue) center center;
}

.floating-header-logo a {
    color: var(--darkblue);
}

.site-footer {
    background: color(var(--darkblue) l(-15%));
}

.author-card .basic-info {
    background: var(--darkblue);
}

.post-full-authors {
    border-top: color(var(--whitegrey) l(+10%)) 1px solid;
}

.kg-gallery-image {
    cursor: pointer;
}